# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.ArcherSim.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../:\ArcherSim\.idea\.idea.ArcherSim\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
